.benefits {
    text-align: left;
    padding: 50px 20px;
    background-color: #e5a716;
    color: #fff;
  }
  
  .benefits h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .benefit-image {
    max-width: 95%;
    height: auto;
  }
  
  .benefit-image-col {
    margin-right: -30px;
  }
  
  .benefit-list-col {
    margin-left: -30px;
  }
  
  .benefit-list {
    list-style: none;
    padding: 0;
  }
  
  .benefit-list li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .benefit-list .icon {
    font-size: 1.5rem;
    color: #28a745;
    margin-right: 10px;
  }
  