.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  background: #FEBE25;
  color: white;
}

.introduction h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.introduction p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 40px;
  padding: 0 170px;
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.juice-image {
  max-width: 70%;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
  filter: drop-shadow(0 0 10px rgba(59, 59, 59, 0.6));
}
