.products {
    padding: 50px 20px;
    background-color: #FEBE25;
    color: #fff;
}

.products h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    margin-bottom: 100px;
}

.product-col {
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-left: 5px;  
    padding-right: 5px; 
}

.product-card {
    background-color: #e5a716;
    color: #000;
    border: 2px solid #ffffff3d;
    border-radius: 20px;
    box-shadow: 7px 14px 18px rgb(0 0 0 / 10%);
    text-align: center;
    position: relative;
    padding-top: 145px;
    height: 340px; 
    width: 70%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card .image-container {
    position: absolute;
    top: -85px; /* Ajusta a posição das imagens */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.product-card .product-image {
    width: 40%; 
    border-radius: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.product-card .product-image:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.745));
}

.product-card .card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #fff;
}

.product-card .card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
}

.product-card .btn {
    background-color: #28a745;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
}

.product-card .btn:hover {
    background-color: #218838;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.appear {
    opacity: 1;
    transform: translateY(0);
}

.badge-top-right {
    position: absolute;
    top: 6px;
    right: -45px;
    background-color: #fb1212;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
