* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Isso evita a rolagem horizontal */
}

.hero, .introduction, .benefits, .products, .contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.banner {
  width: 100%;
  overflow: hidden;
}

.banner-item {
  max-width: 100%;
  overflow: hidden;
}

.container, .container-fluid {
  max-width: 100%;
  overflow: hidden;
}
